{% extends "base.html" %}
{% load static %}

{% block titulo %}
Exclusão de Notícia
{% endblock titulo %}

{% block bread %}
Exclusão de Notícia
{% endblock bread %}

{% block content %}

<div class="card">
    <div class="card-header"><h4>Deseja realmente excluir essa publicação? </h4><br>
        <h6><strong>Id:</strong> {{ form.id }}</h6>
        <h6><strong>Titulo:</strong> {{ form.titulo }}</h6>
        <h6><strong>Texto:</strong> {{ form.texto | truncatewords_html:30 }}</h6>
        <h6><strong>Data da Publicação:</strong> {{ form.data_publicacao | date:'d/m/Y' }}</h6>
        <br>

        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Remover </button>
            <a href="{% url 'index' %}" class="btn btn-primary">Cancelar</a><br>
        </form>
    </div>

</div>
{% endblock content %}